{% extends 'base.html' %}
{% load static %}
{% block title %}
    My Blog
{% endblock %}
{% block header_references %}
    <link rel="stylesheet" href="{% static 'blog/index.css' %}">
    {#    <link rel="stylesheet" href="{% static 'app.css' %}">#}
{% endblock %}
{% block content %}
{#    <header id="main-navigation">#}
{#        <h1>#}
{#            <a href="">Top learn blog</a></h1>#}
{#        <nav>#}
{#            <a href="">All Posts</a>#}
{#        </nav>#}
{#    </header>#}
    <section id="welcome">
        <header>
            <img src="{% static 'blog/images/عکس.jpg' %}" alt="toplearn - Author of this blog">
            <h2>Top learn blog project</h2>
        </header>
        <p>Hi, my name is mohammad, I am a teacher in toplearn</p>
    </section>
    <section id="latest-posts">
        <h2>latest posts</h2>
        <ul>
            {% include 'blog/includes/post.html' %}
            {% include 'blog/includes/post.html' %}
            {% include 'blog/includes/post.html' %}
            {% include 'blog/includes/post.html' %}
        </ul>
    </section>
    <section id="about">
        <h2>what I do</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Animi cum debitis, enim excepturi exercitationem ipsa
            molestiae nobis praesentium quod temporibus!
            Aliquid asperiores corporis deserunt dignissimos,
            doloribus inventore ipsam labore nostrum obcaecati
            quas suscipit vitae. Dignissimos fugit odio possimus sint voluptatem.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Amet blanditiis magnam voluptatibus? Aspernatur enim illum
            placeat, quos sint voluptatem voluptatibus.</p>
    </section>
{% endblock %}